In [1]:
#import of the pandas library
import pandas as pd

Definition of the user as the ones used in reco_propor_recent

In [2]:
userloc=0

In [3]:
#import of the data from the other files outputs
CelineOutput = pd.read_csv('../data/proposed_movie_pivot.csv',names=["recommendation"],index_col=0,header=0) 
JohannOutput = pd.read_csv('../data/outputjohann2.csv', sep=';',index_col=0)

In [4]:
#Check of CelineOuput 
CelineOutput.head(20)

                                      recommendation
0  Spirited Away (Sen to Chihiro no kamikakushi) ...
1  Amelie (Fabuleux destin d'Amélie Poulain, Le) ...
2     Whisper of the Heart (Mimi wo sumaseba) (1995)
3  Lupin III: The Castle Of Cagliostro (Rupan san...
4                City of God (Cidade de Deus) (2002)
5                                  Life of Pi (2012)
6                             Honest Liar, An (2014)
7                             Song of the Sea (2014)
8  Tale of Princess Kaguya, The (Kaguyahime no mo...
9                   Grand Budapest Hotel, The (2014)

In [5]:
#Check of JohannOuput 
JohannOutput.head()

,userId,New_Cluster,count,film_prefere_du_cluster,recommendation
0,1.0,71.0,4.0,Platoon (1986),Lost in Translation (2003)
1,2.0,89.0,3.0,From Dusk Till Dawn (1996),City of God (Cidade de Deus) (2002)
2,3.0,91.0,7.0,Star Trek: First Contact (1996),"O Brother, Where Art Thou? (2000)"
3,4.0,48.0,2.0,Naked Gun 33 1/3: The Final Insult (1994),None
4,5.0,91.0,4.0,Mr. Holland's Opus (1995),"O Brother, Where Art Thou? (2000)"

In [6]:
#Suppresion of useless of JohannOuput column

JohannOutput.drop(['film_prefere_du_cluster'],inplace=True,axis=1)
JohannOutput.drop(['New_Cluster'],inplace=True,axis=1)
JohannOutput.drop(['count'],inplace=True,axis=1)

In [7]:
#Check of JohannOuput 
JohannOutput.head()

   userId                       recommendation
0     1.0           Lost in Translation (2003)
1     2.0  City of God (Cidade de Deus) (2002)
2     3.0    O Brother, Where Art Thou? (2000)
3     4.0                                 None
4     5.0    O Brother, Where Art Thou? (2000)

In [8]:
#Check of Fusion of the output for one user 

FusionOutput = CelineOutput.append(JohannOutput.loc[userloc])
FusionOutput.drop(['userId'],inplace=True,axis=1)

C:\Users\celbo\AppData\Local\Temp\ipykernel_11976\2730369427.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  FusionOutput = CelineOutput.append(JohannOutput.loc[userloc])

In [9]:
#prodction of the results
print("For the user ",JohannOutput.loc[userloc].userId)
FusionOutput.head(15)

For the user  1.0

                                      recommendation
0  Spirited Away (Sen to Chihiro no kamikakushi) ...
1  Amelie (Fabuleux destin d'Amélie Poulain, Le) ...
2     Whisper of the Heart (Mimi wo sumaseba) (1995)
3  Lupin III: The Castle Of Cagliostro (Rupan san...
4                City of God (Cidade de Deus) (2002)
5                                  Life of Pi (2012)
6                             Honest Liar, An (2014)
7                             Song of the Sea (2014)
8  Tale of Princess Kaguya, The (Kaguyahime no mo...
9                   Grand Budapest Hotel, The (2014)
0                         Lost in Translation (2003)